<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript">
      var team = <%- JSON.stringify(team) %>;
    </script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
      console.log((typeof $().modal == 'function'));
    </script>
    <link href='https://fonts.googleapis.com/css?family=Fontdiner+Swanky' rel='stylesheet' type='text/css'>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/javascripts/game_board.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/gameStyle.css">
    <title>JeoparDB</title>
  </head>
  <body ng-app="GameBoard">
    <script>
      if(typeof angular == 'undefined') {
        console.log("Angular does not work!")
      } else {
        console.log("Loaded successfully!")
      }
    </script>
    <div ng-controller="Header" class="row" id="headerInfo">
      <div class="col-md-4" id="team">Team: <%= team %></div>
      <h1 id="JeopardyTitle" class="col-md-4">JeoparDB!</h1>
      <div class="col-md-4" id="score">Score: {{score}}</div>
    </div>
    <!-- Setup Tables -->
    <div id="setup">
      <table id="setupTable">
        <tr>
          <td ng-repeat="col in [0, 1, 2, 3, 4] track by $index" class="setupCol" id="sc{{col}}">
            <h3 class="scHeader">Category {{col + 1}}</h2>
            <h3 style="margin-left: 10px;" data-toggle="collapse" href="#date{{col}}" aria-expanded="false" class="querySubTitle dateHead" id="dateHead{{col}}">Date Range</h3>
            <table class="collapse" id="date{{col}}">
              <tr>
                <td>
                  <input type="text" id="startDate{{col}}" class="form-control" placeholder="mm/dd/yyyy" aria-describedby="sizing-addon1">
                </td>
                <td>
                  <span class="input-group-addon">to</span>
                </td>
                <td>
                  <input type="text" id="endDate{{col}}" class="form-control" placeholder="mm/dd/yyyy" aria-describedby="sizing-addon1">
                </td>
              </tr>
            </table>
            <h3 style="margin-left: 10px;" data-toggle="collapse" href="#cat{{col}}" aria-expanded="false" class="querySubTitle catHead" id="catHead{{col}}">Category</h3>
            <div class="collapse" id="cat{{col}}">
              <div class="btn-group-vertical categoryButtons" role="group" aria-label="Categories" id="butts{{col}}">
                <button type="button" data-toggle="button" aria-pressed="false" class="btn btn-default clustButt" id="ss{{col}}">Social Sciences</button>
                <button type="button" data-toggle="button" aria-pressed="false" class="btn btn-default clustButt" id="ap{{col}}">Art and Pop Culture</button>
                <button type="button" data-toggle="button" aria-pressed="false" class="btn btn-default clustButt" id="si{{col}}">Science</button>
                <button type="button" data-toggle="button" aria-pressed="false" class="btn btn-default clustButt" id="wp{{col}}">Word Play</button>
                <button type="button" data-toggle="button" aria-pressed="false" class="btn btn-default clustButt" id="mi{{col}}">Miscellaneous</button>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <div class="btn" id="submitButton">
        Submit
      </div>
    </div>
    <!-- Game Table -->
    <table class="table-bordered board-table">
      <thead>
        <tr>
          <th ng-repeat="h in [0, 1, 2, 3, 4] track by $index" class="qHeader" id="h{{h}}">
            Test {{h}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in [0, 1, 2, 3, 4] track by $index">
          <td ng-repeat="col in [0, 1, 2, 3, 4] track by $index" class="qBox" id="q{{row}}{{col}}">
            ${{(row + 1) * 100}}
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
