<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Fontdiner+Swanky' rel='stylesheet' type='text/css'>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/javascripts/game_board.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/gameStyle.css">
    <title>JeoparDB</title>
  </head>
  <body>
    <script>
      if(typeof angular == 'undefined') {
        console.log("Angular does not work!")
      } else {
        console.log("Loaded successfully!")
      }
      console.log(angular)
    </script>
    <table ng-app="GameBoard" class="table-bordered board-table">
      <thead>
        <tr>
          <th ng-repeat="h in [0, 1, 2, 3, 4] track by $index" class="qBox">
            Category {{h + 1}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in [0, 1, 2, 3, 4] track by $index">
          <td ng-repeat="col in [0, 1, 2, 3, 4] track by $index" class="btn qBox">
            {{(col + 1) * 100}}$
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
