<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript">
      var team = <%- JSON.stringify(team) %>;
    </script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Fontdiner+Swanky' rel='stylesheet' type='text/css'>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/javascripts/game_board.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/gameStyle.css">
    <title>JeoparDB</title>
  </head>
  <body ng-app="GameBoard">
    <script>
      if(typeof angular == 'undefined') {
        console.log("Angular does not work!")
      } else {
        console.log("Loaded successfully!")
      }
    </script>
    <div ng-controller="Header" class="row" id="headerInfo">
      <div class="col-md-4" id="team">Team: <%= team %></div>
      <h1 id="JeopardyTitle" class="col-md-4">JeoparDB!</h1>
      <div class="col-md-4" id="score">Score: {{score}}</div>
    </div>
    <table class="table-bordered board-table">
      <thead>
        <tr>
          <th ng-repeat="h in [0, 1, 2, 3, 4] track by $index" class="qHeader">
            Words that start with the Letter Z {{h + 1}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in [0, 1, 2, 3, 4] track by $index">
          <td ng-repeat="col in [0, 1, 2, 3, 4] track by $index" class="qBox">
            {{(row + 1) * 100}}$
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
