<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Fontdiner+Swanky' rel='stylesheet' type='text/css'>
    <script src="/javascripts/answerCompare.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#submit").click(function() {
            $.post('/search', {"startDate": $("#startDateInput").val(),
                               "endDate": $("#endDateInput").val(),
                               "cluster": $("#clusterInput").val()},
                              function(data){
                console.log(data);
                document.getElementById('Question1').innerHTML = data[0]["Question"];
                document.getElementById('Category1').innerHTML = data[0]["Category"];
                document.getElementById('Cluster1').innerHTML = data[0]["Cluster"];
                document.getElementById('Answer1').innerHTML = data[0]["Answer"];

                document.getElementById('Status').innerHTML = ("");
                document.getElementById('real_answer').innerHTML = ("");
                $("#answerInput").val("")

                $("#confirmAnswer").click(function() {
                    var status;
                    if (isCorrect($("#answerInput").val(), data[0]["Answer"])) {
                      document.getElementById('Status').innerHTML = ("Correct!");
                      status = "correct";
                    } else {
                      status = "wrong";
                      document.getElementById('Status').innerHTML = ("Wrong!");
                    }

                    document.getElementById('real_answer').innerHTML = data[0]["Answer"];

                    // Ian, inside the data sent with this post request
                    // Add data[<whatever>]["Value"] and Team as parameters
                    // Then insude queryDB.update in queryDB.js make a 3rd
                    // query to update the value of the teamScore.
                    $.post('/update', {"questionId": data[0]["QuestionId"], "status": status},
                      function(data) {
                        console.log(data);
                    });

                });
            });
                 
        });

      });
    </script>
    <title>JeoparDB</title>
  </head>
  <body>
    <br>
    <div class="input-group input-group-lg">
      <span class="input-group-addon" id="sizing-addon1">Start Date</span>
      <input type="text" id="startDateInput" class="form-control" placeholder="mm/dd/yyyy" aria-describedby="sizing-addon1">
    </div>
    <div class="input-group input-group-lg">
      <span class="input-group-addon" id="sizing-addon1">End Date</span>
      <input type="text" id="endDateInput" class="form-control" placeholder="mm/dd/yyyy" aria-describedby="sizing-addon1">
    </div>
    <div class="input-group input-group-lg">
      <span class="input-group-addon" id="sizing-addon1">Category</span>
      <input type="text" id="clusterInput" class="form-control" placeholder="cluster" aria-describedby="sizing-addon1">
    </div>
    <br>
    <button id="submit" type="button" class="btn btn-success btn-lg">Success</button>
    <h2>Cluster</h2>
    <p id="Cluster1"></p>
    <h2>Category</h2>
    <p id="Category1"></p>
    <h2>Question</h2>
    <p id="Question1"></p>
    <h2>Answer</h2>
    <p id="Answer1"></p>
    
    <div class="input-group">
      <div class="input-group-btn">
          <button id="confirmAnswer" type="button" class="btn btn-primary">Submit</button>
      </div>
      <input type="text" id="answerInput" class="form-control" aria-label="...">
    </div>
    <h2 id="Status"></h2>
    <p id="real_answer"> </p>
  </body>
</html>
