body {
  padding: 20px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #0000a0;
}

table {
  margin: auto;
  border-spacing: 30px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.center {
  width: 80%;
  margin: auto;
}

.teams {
  font-size: 35px;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

#greenTeam {
  background: #33cc33;
}

#redTeam {
  background: #cc0000;
}

#blueTeam {
  background: #0099cc;
}

#JeopardyTitle {
  color: #FFFFFF;
  text-align: center;
  font-size: 75px;
  font-family: 'Fontdiner Swanky', cursive;
  margin-bottom: 100px;
}
